
@{
    ViewData["Title"] = "Build";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Ajgl*@
<div class="layui-fluid">
    <!--合同基本信息begin-->
    <div class="layui-form" lay-filter="NF-ContractCollection-Form">
        <!--修改时使用-->
        <input type="hidden" id="Id" name="Id" />

        @*自定义字段，保存修改时存储值*@
        <input type="hidden" id="CustField" name="CustField" />
        <div class="layui-card " id="contractfo">
            <div class="layui-card-header">案件管理</div>
            <div class="layui-card-body" style="padding: 15px;">
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="Title" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">紧急程度</label>
                        <div class="layui-input-block">
                            <select name="Urgent" id="Urgent" lay-verify="required" lay-search>
                                <option value="">请选择..</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">纠纷信息</label>
                        <div class="layui-input-block">
                            <input type="text" name="DisName" id="DisName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                            <input type="hidden" name="DisId" id="DisId" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">纠纷编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="DisCode" id="DisCode" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">案件名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">案件编号</label>
                        <div class="layui-input-block">
                            <input type="text" name="Code" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">经办日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="HandDate" id="HandDate" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">负责人</label>
                        <div class="layui-input-block">
                            <input type="text" name="ContIdName" id="ContIdName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                            <input type="hidden" name="ContId" id="ContId" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">记录人</label>
                        <div class="layui-input-block">
                            <input type="text" name="HandlerIdName" id="HandlerIdName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                            <input type="hidden" name="HandlerId" id="HandlerId" />
                        </div>
                    </div>
                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">关联案件</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea layui-input  " name="Title"></textarea>
                        </div>
                    </div>
                
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <input type="text" name="Remark" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">纠纷类别</label>
                        <div class="layui-input-block">
                            <select name="DisputeType" id="DisputeType" lay-verify="required" lay-search>
                                <option value="">请选择..</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">抵押物</label>
                        <div class="layui-input-block">
                            <input type="text" name="Pawn" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">涉及金额(万元)</label>
                        <div class="layui-input-block">
                            <input type="text" name="Amount" id="Amount" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">涉及金额备注</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea layui-input  " name="AmoutDisc"></textarea>
                        </div>
                    </div>
                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">纠纷简述及建议</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea layui-input  " name="DisDic"></textarea>
                        </div>
                    </div>
                    @*<div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">涉及金额备注</label>
                        <div class="layui-input-block">
                            <input type="text" name="AmoutDisc" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">纠纷简述及建议</label>
                        <div class="layui-input-block">
                            <input type="text" name="DisDic" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>*@
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">案件说明</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea layui-input  " name="CaseRemark"></textarea>
                        </div>
                    </div>
                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">案由</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea layui-input  " name="CaseBrief"></textarea>
                        </div>
                    </div>
                    @*<div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">案件说明</label>
                        <div class="layui-input-block">
                            <input type="text" name="CaseRemark" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>
                    <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">案由</label>
                        <div class="layui-input-block">
                            <input type="text" name="CaseBrief" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>*@
                </div>
                <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                    @*<div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
            <label class="layui-form-label">关联案件</label>
            <div class="layui-input-block">
                <input type="text" name="Title" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
            </div>
        </div>*@
                    @*<div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">我方地位</label>
                        <div class="layui-input-block">
                            <input type="text" name="WoDw" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input pen" />
                        </div>
                    </div>*@
                    <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                        <label class="layui-form-label">我方地位</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea layui-input pen " lay-verify="required" name="WoDw"></textarea>
                        </div>
                    </div>
                </div>


                <!--需要在最后加这个或者没有也加一个 <div class="layui-form-item">，这样不会导致隐藏菜单是显示问题-->
                <div class="layui-form-item">

                </div>

            </div>
        </div>

        <div class="layui-collapse">
            <div class="layui-colla-item" id="contattachment">
                <h2 class="layui-colla-title">案件附件</h2>
                <div class="layui-colla-content">
                    @*合同附件begin*@
                    <div class="layui-card ">

                        <div class="layui-card-body" style="padding: 15px;">
                            <table id="NF-Ajglfj" lay-filter="NF-Ajglfj"></table>
                            @*表格工具栏*@
                            <script id="toolcontattachment" type="text/html">
                                <div class="layui-inline">
                                    <button class="layui-btn " lay-event="add"><i class="layui-icon layui-icon-edit"></i> 新增</button>
                                    <button class="layui-btn  layui-btn-danger" lay-event="batchdel"><i class="layui-icon layui-icon-delete"></i>批量删除</button>

                                </div>
                            </script>
                            <script type="text/html" id="tabl-contattachmentbar">
                                <a class="layui-btn layui-btn-xs" lay-event="download"><i class="layui-icon layui-icon-edit"></i>下载</a>
                                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                            </script>

                        </div>
                    </div>
                    @*合同附件--end*@

                </div>
            </div>
        </div>
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">一审信息</h2>
                <div class="layui-colla-content">
                    <div class="layui-card ">
                        <div class="layui-card-body" style="padding: 15px;">
                            <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                                <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                                    <label class="layui-form-label">开庭法院</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="CourtName"  placeholder="请输入" autocomplete="off" class="layui-input " />
                                    </div>
                                </div>
                                <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                                    <label class="layui-form-label">开庭时间</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="BeginDate" id="BeginDate"  placeholder="请输入" autocomplete="off" class="layui-input " />
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                                <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                                    <label class="layui-form-label">审判结果</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="SpResult"  placeholder="请输入" autocomplete="off" class="layui-input " />
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">
                                <div class="layui-collapse">
                                    <div class="layui-colla-item" id="contattachment1">
                                        <h2 class="layui-colla-title">审判文书</h2>
                                        <div class="layui-colla-content">
                                            <!--合同附件begin-->
                                            <div class="layui-card ">

                                                <div class="layui-card-body" style="padding: 15px;">
                                                    <table id="NF-Ajglfj-Sqws" lay-filter="NF-Ajglfj-Sqws"></table>
                                                    <!--表格工具栏-->
                                                    <script id="toolcontattachment-Sqws" type="text/html">
                                                        <div class="layui-inline">
                                                            <button class="layui-btn " lay-event="add"><i class="layui-icon layui-icon-edit"></i> 新增</button>
                                                            <button class="layui-btn  layui-btn-danger" lay-event="batchdel"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
                                                            @*<button class="layui-btn" lay-event="htYuLan"><i class="layui-icon layui-icon-read "></i>预览</button>*@
                                                        </div>
                                                    </script>
                                                    <script type="text/html" id="tabl-contattachmentbar-Sqws">
                                                        <a class="layui-btn layui-btn-xs" lay-event="download"><i class="layui-icon layui-icon-edit"></i>下载</a>
                                                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
                                                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                                                    </script>

                                                </div>
                                            </div>
                                            <!--合同附件--end-->

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--需要在最后加这个或者没有也加一个 <div class="layui-form-item">，这样不会导致隐藏菜单是显示问题-->
                            <div class="layui-form-item">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">相关律师</h2>
                <div class="layui-colla-content">
                    <div class="layui-card ">
                        <div class="layui-card-body" style="padding: 15px;">
                            <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                                <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                                    <label class="layui-form-label">律师名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="LawyerName"  placeholder="请输入" autocomplete="off" class="layui-input " />
                                    </div>
                                </div>
                                <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                                    <label class="layui-form-label">负责内容</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="HandRemark"  placeholder="请输入" autocomplete="off" class="layui-input " />
                                    </div>
                                </div>
                            </div>
                            <!--需要在最后加这个或者没有也加一个 <div class="layui-form-item">，这样不会导致隐藏菜单是显示问题-->
                            <div class="layui-form-item">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">保全信息</h2>
                <div class="layui-colla-content">
                    <div class="layui-card ">
                        <div class="layui-card-body" style="padding: 15px;">
                            <div class="layui-row layui-col-space10 layui-form-item layui-col-lg12">
                                <div class="layui-col-lg6 layui-col-md6 layui-col-xs12 layui-col-sm12">
                                    <label class="layui-form-label">保全类型</label>
                                    <div class="layui-input-block">
                                        <select name="PreType" id="PreType" lay-verify="required" lay-search>
                                            <option value="">请选择..</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 layui-col-sm12">


                                </div>
                            </div>-->
                            <!--需要在最后加这个或者没有也加一个 <div class="layui-form-item">，这样不会导致隐藏菜单是显示问题-->
                            <!--<div class="layui-form-item">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="layui-collapse">
            <div class="layui-colla-item" id="contattachment2">
                <h2 class="layui-colla-title">诉讼保全信息</h2>
                <div class="layui-colla-content">
                    <!--合同附件begin-->
                    <div class="layui-card ">

                        <div class="layui-card-body" style="padding: 15px;">
                            <table id="NF-Ajglfj-Ssbq" lay-filter="NF-Ajglfj-Ssbq"></table>
                            <!--表格工具栏-->
                            <script id="toolcontattachment-Ssbq" type="text/html">
                                <div class="layui-inline">
                                    <button class="layui-btn " lay-event="add"><i class="layui-icon layui-icon-edit"></i> 新增</button>
                                    <button class="layui-btn  layui-btn-danger" lay-event="batchdel"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
                                    @*<button class="layui-btn" lay-event="htYuLan"><i class="layui-icon layui-icon-read "></i>预览</button>*@
                                </div>
                            </script>
                            <script type="text/html" id="tabl-contattachmentbar-Ssbq">
                                <a class="layui-btn layui-btn-xs" lay-event="download"><i class="layui-icon layui-icon-edit"></i>下载</a>
                                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                            </script>

                        </div>
                    </div>
                    <!--合同附件--end-->

                </div>
            </div>
        </div>
        <!--按钮begin-->
        <div class="layui-form-item layui-layout-admin layui-hide">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn" id="NF-ContractCollection-FormSubmit" lay-submit lay-filter="NF-ContractCollection-FormSubmit">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
        <!--按钮end-->
    </div>
        <!--合同基本信息end-->




    </div>
    <!--目录-->
    <ul class="site-dir layui-layer-wrap nf-ml-ul layui-hide" id="customernva">
        <li><a href="#contractfo" rel="external nofollow" class="current">纠纷上报</a></li>


    </ul>
    @{
        Html.RenderPartial("_LayuiScriptsPartial");
    }
    @*<script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.min.js"></script>*@
    <script>
        layui.config({
            base: '/lib/layuiadmin/'
        }).extend({
            index: 'lib/index', //主入口模块
            nfcontents: 'contents-nf/nfcontents',
            commonnf: 'common-nf/commonnf',
            tableSelect: 'layui-nf-plugs/tableSelect',
            selectnfitem: 'common-nf/selectnfitem',// 'jfan-nf/jfan-index'
            CollectionContractBuild: 'Ajgl-nf/Ajgl-build',
            treeSelect: 'layui-nf-plugs/treeselect',
            subMetBuild: 'subjectmatter-nf/submet-build',
            wordAddin: 'addin-nf/wordAddin'
        }).use(['index', 'element', 'CollectionContractBuild', 'upload'], function () {
            var $ = layui.$
                , upload = layui.upload;
            var element = layui.element;
            wootool.wooMoneyThod();

            ////上传14
            //var uploadcontractInst = upload.render({
            //    elem: '#contract-attUpload'
            //    , url: setter.layupload.uploadIp + '/NfCommon/NfAttachment/Upload?folderIndex=5'
            //    , accept: setter.layupload.accept
            //    , exts: setter.layupload.exts
            //    , size: setter.layupload.size
            //    , before: function (obj) {
            //        layer.load(); //上传loading
            //    }

            //    , done: function (res, index, upload) { //上传完毕回调
            //        var s = "Uploads/" + res.RetValue.FolderName + "/" + res.RetValue.GuidFileName;
            //        $("input[name=FolderName]").val(res.RetValue.FolderName);
            //        $("input[name=GuidFileName]").val(res.RetValue.GuidFileName);
            //        $("input[name=FileName]").val(res.RetValue.SourceFileName);
            //        $("input[name=CaseFileName]").val(res.RetValue.NotExtenFileName);
            //        $("input[name=CaseFilePath]").val(s)
            //        layer.closeAll('loading');
            //    }
            //    , error: function (index, upload) {
            //        //请求异常回调
            //        layer.closeAll('loading');
            //        layer.msg('网络异常，请稍后重试！');
            //    }

            //});
            ////上传14
            //var uploadcontractInst1 = upload.render({
            //    elem: '#contract-attUpload1'
            //    , url: setter.layupload.uploadIp + '/NfCommon/NfAttachment/Upload?folderIndex=5'
            //    , accept: setter.layupload.accept
            //    , exts: setter.layupload.exts
            //    , size: setter.layupload.size
            //    , before: function (obj) {
            //        layer.load(); //上传loading
            //    }

            //    , done: function (res, index, upload) { //上传完毕回调
            //        var s = "Uploads/" + res.RetValue.FolderName + "/" + res.RetValue.GuidFileName;
            //        $("input[name=FolderName]").val(res.RetValue.FolderName);
            //        $("input[name=GuidFileName]").val(res.RetValue.GuidFileName);
            //        $("input[name=FileName]").val(res.RetValue.SourceFileName);
            //        $("input[name=PreFileName]").val(res.RetValue.NotExtenFileName);
            //        $("input[name=PreFilePath]").val(s)
            //        layer.closeAll('loading');
            //    }
            //    , error: function (index, upload) {
            //        //请求异常回调
            //        layer.closeAll('loading');
            //        layer.msg('网络异常，请稍后重试！');
            //    }

            //});
            ////上传14
            //var uploadcontractInst2 = upload.render({
            //    elem: '#contract-attUpload2'
            //    , url: setter.layupload.uploadIp + '/NfCommon/NfAttachment/Upload?folderIndex=5'
            //    , accept: setter.layupload.accept
            //    , exts: setter.layupload.exts
            //    , size: setter.layupload.size
            //    , before: function (obj) {
            //        layer.load(); //上传loading
            //    }

            //    , done: function (res, index, upload) { //上传完毕回调
            //        var s = "Uploads/" + res.RetValue.FolderName + "/" + res.RetValue.GuidFileName;
            //        $("input[name=FolderName]").val(res.RetValue.FolderName);
            //        $("input[name=GuidFileName]").val(res.RetValue.GuidFileName);
            //        $("input[name=FileName]").val(res.RetValue.SourceFileName);
            //        $("input[name=SpFileName]").val(res.RetValue.NotExtenFileName);
            //        $("input[name=SpFilePath]").val(s)
            //        layer.closeAll('loading');
            //    }
            //    , error: function (index, upload) {
            //        //请求异常回调
            //        layer.closeAll('loading');
            //        layer.msg('网络异常，请稍后重试！');
            //    }

            //});
        });
    </script>

